body{
    width: 98vw;
    height: 100vh;
    background: #ddd;
}
.feed-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.feed-items{
    margin: 0.55rem;
    display: block;
    width: 30%;
    padding-bottom: 33%;
    flex-shrink: 0;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feed-post-modal-container{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    transition: 0.2s;
}
.feed-post-modal-box{
    margin: auto;
    width: 935px;
    height: 600px;
    background:white;
    display: flex;
}
.feed-post-left-section{
    position: relative;;
    width: 64%;        }
.feed-post-right-section{
    display: flex;
    flex-direction: column;
    width: 36%;
    justify-content: space-between;
}
.switch {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 0;
    background: rgba(100,100,100,0.5);
    border-radius: 50%;
    color: #eee;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.feed-slide-switch-left {
    left: 1rem;
    top: calc(50% - 15px);
}
.feed-slide-switch-right {
    right: 1rem;
    top: calc(50% - 15px);
}
.feed-slide-container{
    height: 100%;
    overflow: hidden;
}
.feed-slide-list{
    position: relative;
    display:flex;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.feed-slide-items{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-right: 1px solid #bbb;
}
.right-feed-header{
    display:flex;
    align-items: center;
    border-bottom: 1px solid #bbb;
    height: 4rem;
}
.right-feed-image{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #aaa;
    margin: 0.5rem;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}
.right-feed-items{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.right-feed-nickname{
    font-size: 0.8rem;
}
.right-feed-contents{
    display: flex;
    align-items: center;
}
.right-feed-contents p{
    display: inline;
    margin: 1rem 0 0 1rem;
}
.right-feed-contents span {
    position: relative;
    right: 0;
    margin: 1rem 0.5rem 0 auto;
    font-size: 0.7rem;
    color: #666;
}

.right-feed-comment{
    display: block;
    width: 100%;
    font-size: 0.8rem;
    padding: 0 1rem 0 3rem;
}
.right-feed-nickname {
    font-weight: bold;

}
.right-feed-comment-date{
    margin-left: auto;
    font-size: 0.7rem;
    color: #bbb;
}
.right-feed-header{
}
.right-feed-center{
    /* overflow-x: hidden; */
    overflow-y: scroll;
    height: 75%;
}

.right-feed-bottom{
    display:flex;
    flex-direction: column;
    height: 15%;
}
.right-feed-bottom-comment{
    position: relative;
    bottom:0;
    display:flex;
    align-items: center;
    height: 100%;
}
.right-feed-bottom-text {
    position: relative;
    bottom:0;
    border:0;
    border-top: 1px solid #bbb;
    height: 94%;
    width: 90%;
}
.right-feed-bottom-submit {
    position: relative;
    bottom:0;
    height: 100%;
    width: 10%;
    color:dodgerblue;
    border: 0;
    border-top: 1px solid #bbb;
}
.right-feed-bottom-buttons{
    display: flex;
    align-items: center;
    height: 3rem;
}
@media (max-width: 935px){
    .feed-post-modal-box{
        width: 80vw;
        height: 80vw;
    }
    .feed-post-right-section {
        display:none;
    }
    .feed-post-left-section{
        width: 100%;
    }
}