html {
  font-family: 'Noto Sans KR', sans-serif;
}
.post-whole{
  background: white;
  width: 600px;
  margin: 1rem 0 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}
/* 포스트헤더 */

.post-header-list svg {
  margin: 1rem;
}
.post-header-id {
  font-size: 0.8rem;
}
.post-header{
  display: flex;
  align-items: center;
  height: 60px;
}
.post-header-list:nth-child(3) {
  margin-left: auto;
}
.post-header-image {
  display: block;
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.7rem;
  border: 1px solid gold;
  border-radius: 50%;
}
.post-header-list:nth-child(2){
  display:flex;
  align-items: center;
  margin-left: 0.5rem;
}
.post-header-list:nth-child(2) a {
  color: #444;
  text-decoration: none;
}

/* 모달 */

.modal-container {
  z-index :20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  display:none;
}
.modal-box {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  /* justify-content: center; */
}
.modal-menu {
  font-family: 'Noto Sans KR', sans-serif;
  width: 28rem;
  height: 3.3rem;
  font-size: 1rem;
  font-weight: 200;
  border-bottom: 0.5px solid #ddd;
}
.modal-menu:nth-child(1),
.modal-menu:nth-child(2) {
  color: crimson;
}
.modal-menu:nth-child(7){
  border-bottom: 0;
}
@media (max-width: 800px) {
  .modal-menu{
    width: 18rem;
  }
}

/* 중간 네비바 */

.middle-nav{
  display: flex;
  height: 50px;
  align-items: center;
}
.middle-nav-list svg{
  margin: 0 0.5rem;
}
.middle-nav-list:nth-child(1) svg{
  margin-left: 1rem;
}
.middle-nav-list:nth-child(4) svg{
  margin-right: 1rem;
}
.middle-nav-list:nth-child(4){
  margin-left: auto;
}
.like-btn {
  cursor: pointer;
}
.comment-btn {
  cursor: pointer;
}
.share-btn {
  cursor: pointer;
}
.bookmark-btn {
  cursor: pointer;
}
/* 게시글 내용 */
.post-content {
  display: flex;
  
}
.post-content a {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  flex-shrink: 0;
  margin: 0 0.5rem;
  font-size: 0.8rem;
}
.post-content span {
  margin-right: 0.5rem;
  font-family: 'Noto Sans KR', sans-serif;
  color: #aaa;
  text-decoration: none;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 0.8rem;
}
.post-user-content {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
}
/* 게시글 댓글 */

.post-comment {
  display: flex;
  flex-direction: column; 
}
.comment-list-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
}
.whole-comment{
  color: #aaa;
  font-size: 0.7rem;
  text-decoration: none;
  padding: 0 0.5rem;
  cursor: pointer;
}
.comment-item {
  padding: 0 0.5rem;
}
.comment-list-content {
  color: #333;
  font-size: 0.8rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}
.comment-input {
  border:0;
  width: 100%;
  padding-left: 1rem;
}
.comment-submit {
  border: 0;
  color: dodgerblue;
  background:#fff;
}
.comment-input-box {
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  height: 3rem;
  margin-top: 1rem;
}
/* 최근 좋아요 */
.recent-like {
  height: 40px;
  display: flex;
  align-items: center;
}
.recent-like-image{
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0.5rem;
}
.recent-like a {
  color: #333;
  text-decoration: none;
}

/* 슬라이더 */
.test-container{
  width: 600px;
  height: 600px;
}
.container {
  margin: auto auto;
  position: relative;
  overflow: hidden;
  height: 99.5%;
  width: 99.5%;
  border: 1px solid #ddd;
}
.slide-list {
  width: 100%;
  height: 100%;
  display: flex;
  position:absolute;
  transition: 0.2s
}
.slide-item {
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.switch {
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  background: rgba(100,100,100,0.5);
  border-radius: 50%;
  color: #eee;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.slide-switch-left {
  left: 10px;
  top: calc(50% - 15px);
}
.slide-switch-right {
  left: calc(100% - 75px);
  top: calc(50% - 15px);
}

@media (max-width: 610px) {
  .post-whole{
    width: calc(100vw - 18px);
    margin: 1rem auto;  
  }
  .test-container{
    width: calc(100vw - 18px);
    height: calc(100vw - 18px);
  }
}